//Переменные
$font_global: "PT Sans", "Arial", sans-serif;

$desktop_content: 62.6vw;

$viewport_first_correction: 1905px;
$viewport_second_correction: 1150px;
$viewport_third_correction: 760px;
$color_text_first: #4a4a4a;
$color_text_second: #ffffff;
$color_text_third: #8F8F8F;
$color_text_fourth: #C4C4C4;

$color_border_search: #FFCC00;

$color_shadow_popup: rgba(143, 143, 143, 0.6);

$bg_color_second: #F4F4F4;
$bg_color_button: #00893D;
$bg_color_search: #ffffff;
$bg_color_popup_field: rgba(255, 255, 255, 0.9);
